//
//Colors
//
$white-color: #fcfcfc;
$black-color: #30233d;
$dark-grey-color: #776c82;
$purple-color: #5e239d;
$dark-purple-color: #30124e;
$deep-purple-color: #150433;
$darknes-purple-color: #30233d;
$pink-color: #f61067;
$light-pink-color: #f61068d3;
$grey-color: #c4c4c4;
$light-grey-color: #c4c4c40d;
$light-green-color: #00f0b5;
$orange-color: #f67110;

//
//Role
//

$header-text-color: $white-color;
$header-bg-color: $purple-color;
$header-main-text: $pink-color;
$arrow-border: $grey-color;
$arrow-background: $light-grey-color;
$small-nav-menu-color: $purple-color;
$primary-color: $pink-color;
$headers-color: $black-color;
$maintext-color: $grey-color;
$intro-photo-bg-block: $dark-purple-color;
$btn-hover-text-color: $purple-color;
$btn-hover-color: $grey-color;
$benefits-text: $white-color;
$benefits-bg: $dark-purple-color;
$benefits-slider-text: $purple-color;
$services-bg: $deep-purple-color;
$services-text: $white-color;
$webdesign-color: $light-green-color;
$webdev-color: $pink-color;
$marketing-color: $orange-color;
$footer-bg: $deep-purple-color;
$footer-main-text: $pink-color;
$testimonials-bg: $deep-purple-color;
