.nav {
  width: 79%;
  padding-top: 9px;
  font-size: 14.4px;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 800;
  .active {
    opacity: 1;
    a {
      position: relative;
      &:after {
        background-color: $header-text-color;
        display: block;
        content: "";
        height: 1px;
        width: 70%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        transition: 0.3s;
      }
      &:hover {
        &:after {
          transition: 0.3s;
          background-color: $header-main-text;
        }
        text-decoration: none;
        color: $header-main-text;
      }
    }
  }

  &-list {
    list-style: none;
    &_item {
      opacity: 0.8;
      margin: 0 9px;

      a {
        position: relative;
        &:after {
          background-color: $header-main-text;
          display: block;
          content: "";
          height: 1px;
          width: 0%;
          left: 50%;
          position: absolute;
          transition: width 0.3s ease-in-out;
          transform: translateX(-50%);
        }
        &:hover {
          &:after {
            width: 70%;
          }
          text-decoration: none;
          color: $header-main-text;
        }
      }
      &-home,
      &-work,
      &-services {
        margin-right: 44px;
      }
      &-contact {
        margin-left: 44px;
      }
    }
  }
  &-phone {
    &_img {
      margin-right: 10px;
    }
    &_item {
      padding-bottom: 20px;
      :hover {
        text-decoration: none;
        color: $header-main-text;
      }
    }
  }

  &-menu {
    display: none;
    padding-top: 6px;
    position: relative;
    width: 27px;
    &_button {
      cursor: pointer;
      padding-top: 27px;
      &-close {
        position: absolute;
        width: 27px;
        height: 27px;
        top: 170px;
        left: 200px;
      }
      &-line {
        position: absolute;
        width: 27px;
        height: 2px;
        background-color: $header-text-color;
        top: 14px;
        &:after {
          position: absolute;
          width: 27px;
          height: 2px;
          background-color: $header-text-color;
          content: "";
          top: -7px;
        }
        &:before {
          position: absolute;
          margin-left: 9px;
          width: 18px;
          height: 2px;
          background-color: $header-text-color;
          content: "";
          top: 7px;
        }
        &-close {
          width: 27px;
          height: 2px;
          z-index: 1100;
          background-color: transparent;
          &:after {
            position: absolute;
            width: 27px;
            height: 2px;
            background-color: $header-text-color;
            content: "";
            top: 12px;
            transform: rotate(45deg);
          }
          &:before {
            position: absolute;
            width: 27px;
            height: 2px;
            background-color: $header-text-color;
            content: "";
            top: 12px;
            transform: rotate(-45deg);
          }
        }
      }
    }
    &_small-device {
      display: none;
      ul {
        list-style: none;
      }
    }
  }
}
@media (max-width: 575.97px) {
  .nav {
    position: relative;
    justify-content: flex-end !important;
    &-list {
      &_item {
        display: none;
      }
    }
    &-phone {
      position: absolute;
      width: 300px;
      top: 70px;
      left: -100px;
      z-index: 100;
    }
    &-menu {
      display: block;
      &_small-device {
        display: block !important;
        position: fixed;
        padding-top: 80px;
        transition: 0.5s all;
        width: 500px;
        height: 880px;
        background-color: $light-pink-color;
        padding-top: 200px;
        padding-left: 50px;
        z-index: 1000;
        right: -2000px;
        top: -133px;
        li {
          font-size: 20px;
          margin: 20px auto;
          a {
            &:hover {
              color: $small-nav-menu-color;
            }
          }
        }
      }
      &_active {
        .nav-menu {
          &_small-device {
            position: fixed;
            right: -260px;
          }
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .nav {
    position: relative;
    justify-content: flex-end !important;
    &-list {
      &_item {
        display: none;
      }
    }
    &-phone {
      position: absolute;
      right: 50px;
    }
    &-menu {
      display: block;
      &_small-device {
        display: block !important;
        position: fixed;
        padding-top: 80px;
        transition: 0.5s all;
        width: 500px;
        height: 880px;
        background-color: $header-main-text;
        padding-top: 200px;
        padding-left: 50px;
        z-index: 1000;
        right: -2000px;
        top: -100px;
        li {
          font-size: 20px;
          margin: 20px auto;
          a {
            &:hover {
              color: $small-nav-menu-color;
            }
          }
        }
      }
      &_active {
        .nav-menu {
          &_small-device {
            position: fixed;
            right: -200px;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .nav {
    position: relative;
    justify-content: flex-end !important;
    &-list {
      &_item {
        display: none;
      }
    }
    &-phone {
      position: absolute;
      right: 50px;
    }
    &-menu {
      display: block;

      &_small-device {
        display: block !important;
        position: fixed;
        padding-top: 80px;
        transition: 0.5s all;
        width: 500px;
        height: 880px;
        background-color: $header-main-text;
        padding-top: 200px;
        padding-left: 50px;
        z-index: 1000;
        right: -2000px;
        top: -100px;
        li {
          font-size: 20px;
          margin: 20px auto;
          a {
            &:hover {
              color: $small-nav-menu-color;
            }
          }
        }
      }
      &_active {
        .nav-menu {
          &_small-device {
            position: fixed;
            right: -200px;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .nav {
    width: 100% !important;
    letter-spacing: 1px;
  }
}
