<header id="header" class="header">
  <section class="container">
    <div class="row row--header">
      <div class="col-xl-12 d-flex justify-content-between">
        <span class="header--logo">
          <a href="#">Lopper</a>
        </span>

        <nav class="nav d-flex justify-content-between">
          <ul class="nav--list d-flex">
            <li class="nav--list__item nav--list__item-active">
              <a href="#header">Home</a>
            </li>
            <li class="nav--list__item">
              <a href="#services">Services</a>
            </li>
            <li class="nav--list__item">
              <a href="#benefits">Work</a>
            </li>
            <li class="nav--list__item">
              <a href="#testimonials">About</a>
            </li>
            <li class="nav--list__item">
              <a href="contact.html">Contact</a>
            </li>
          </ul>

          <aside class="nav--phone">
            <img
              class="nav--phone__img"
              src="/img/svg/phone.svg"
              alt="Arrow img"
            />
            <span class="nav--phone__link">
              <a href="tel:01666693456">(01) 666 - 693 - 456</a>
            </span>
          </aside>

          <div class="nav-menu">
            <div class="nav-menu_button">
              <span class="nav-menu_button-line"></span>
            </div>
            <nav class="nav-menu_small-device">
              <div class="nav-menu_button-close">
                <span class="nav-menu_button-line-close"></span>
              </div>
              <ul>
                <li>
                  <a
                    class="nav-menu_small-device_link text-decoration-none"
                    href="#header"
                  >Home</a
                  >
                </li>
                <li>
                  <a
                    class="nav-menu_small-device_link text-decoration-none"
                    href="#services"
                  >Services</a
                  >
                </li>
                <li>
                  <a
                    class="nav-menu_small-device_link text-decoration-none"
                    href="#benefits"
                  >Work</a
                  >
                </li>
                <li>
                  <a
                    class="nav-menu_small-device_link text-decoration-none"
                    href="#testimonials"
                  >About</a
                  >
                </li>
                <li>
                  <a
                    class="nav-menu_small-device_link text-decoration-none"
                    href="contact.html"
                  >Contact</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </nav>
      </div>
    </div>
    <!-- row -->

    <div class="row row-main">
      <div class="col-xl-12 d-flex">
        <div class="main">
          <p class="main-question">
            What we &nbsp;do?
          </p>
          <h1 class="main-headline">
            We grow <br />
            <span class="main-headline_highlight">great business</span>
          </h1>
        </div>
        <div class="scroll">
          <span class="scroll-text text-uppercase">Scroll to see more</span>
          <a href="#future">
            <img
              class="scroll-icon"
              src="/img/svg/arrow_2.svg"
              alt="Arrow img"
            />
          </a>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-xl-12">
        <div class="subheader d-flex justify-content-end align-items-center">
          <p class="subheader-text">
            Velit laoreet id donec ultrices. Ut lectus arcu bibendum varius.
          </p>
          <a href="#">
            <img
              class="subheader-icon"
              src="/img/svg/arrow_1.svg"
              alt="Arrow left"
            />
          </a>
        </div>
      </div>
    </div>
  </section>
</header>
