<header class="header-contact" id="header-contact">
  <div class="container">
    <div class="row row-header">
      <div class="col-xl-12 d-flex justify-content-between">
        <a href="#" class="header-logo">Lopper</a>
        <nav class="nav d-flex justify-content-between">
          <ul class="nav-list d-flex">
            <li class="nav-list_item nav-list_item-home active">
              <a href="index.html">Home</a>
            </li>
            <li class="nav-list_item nav-list_item-services">
              <a href="index.html#services">Services</a>
            </li>
            <li class="nav-list_item nav-list_item-work">
              <a href="index.html#benefits">Work</a>
            </li>
            <li class="nav-list_item nav-list_item-about">
              <a href="index.html#testimonials">About</a>
            </li>
            <li class="nav-list_item nav-list_item-contact">
              <a href="#header-contact">Contact</a>
            </li>
          </ul>
          <div class="nav-phone">
            <img
              class="nav-phone_img"
              src="/img/svg/phone_purple.svg"
              alt="Phone img"
            />
            <span class="nav-phone_item">
              <a href="tel:01666693456">(01) 666 - 693 - 456</a>
            </span>
          </div>
          <div class="nav-menu">
            <div class="nav-menu_button">
              <span class="nav-menu_button-line"></span>
            </div>
            <nav class="nav-menu_small-device">
              <div class="nav-menu_button-close">
                <span class="nav-menu_button-line-close"></span>
              </div>
              <ul>
                <li>
                  <a
                    class="nav-menu_small-device_link text-decoration-none"
                    href="index.html"
                    >Home</a
                  >
                </li>
                <li>
                  <a
                    class="nav-menu_small-device_link text-decoration-none"
                    href="index.html#services"
                    >Services</a
                  >
                </li>
                <li>
                  <a
                    class="nav-menu_small-device_link text-decoration-none"
                    href="index.html#benefits"
                    >Work</a
                  >
                </li>
                <li>
                  <a
                    class="nav-menu_small-device_link text-decoration-none"
                    href="index.html#testimonials"
                    >About</a
                  >
                </li>
                <li>
                  <a
                    class="nav-menu_small-device_link text-decoration-none"
                    href="#header-contact"
                    >Contact</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
