<section id="future" class="future">
  <div class="container">
    <div class="row row-future">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="main-text">
          <p class="main-text_subheader text-uppercase font-weight-bold">
            Intro
          </p>
          <h3 class="main-text_header">
            Our future
          </h3>
          <p class="main-text_descr">
            Apparently we had reached a great height in the atmosphere, for the
            sky was a dead black, and the stars had ceased to twinkle.
          </p>
          <p class="main-text_info">
            By the same illusion which lifts the horizon of the sea to the level
            of the spectator on a hillside, the sable cloud beneath was dished
            out, and the car seemed to float in the middle of an immense dark
            sphere, whose upper half was strewn with silver.
          </p>
          <a href="#" class="link-btn text-uppercase">Learn more</a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex flex-column">
        <div class="bg-first-block"></div>
        <div class="bg-second-block d-flex align-items-center">
          <blockquote class="blockqoute">
            <p class="blockqoute-text">
              Commodo sed egestas egestas fringilla phasellus faucibus.
            </p>
          </blockquote>
        </div>
        <picture class="future-picture">
          <source srcset="/img/webp/girl.webp" type="image/webp" />
          <source
            srcset="/img/png/girl@2x.png 2x, /img/png/girl.png 1x"
            type="image/jpeg"
          />
          <img
            class="future-img"
            src="/img/png/girl.png"
            loading="lazy"
            alt="Alt Text!"
          />
        </picture>
        <div class="wrap">
          <div class="bg-mobile d-flex align-items-center">
            <blockquote class="blockqoute">
              <p class="blockqoute-text">
                Commodo sed egestas egestas fringilla phasellus faucibus.
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
