<section class="services" id="services">
  <div class="services-fill-block"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 d-flex justify-content-center">
        <div class="main-text">
          <p class="main-text_subheader text-uppercase font-weight-bold">
            We are amazing
          </p>
          <h3 class="main-text_header">
            Our services
          </h3>
          <p class="main-text_descr">
            Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus
            urna. Quam elementum pulvinar etiam non. Eu consequat.
          </p>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div
        class="col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-start wrap-card"
      >
        <div class="services-card">
          <div class="wrap-img">
            <div class="services-card_img-wrapper services-card_img-wrapper-1">
              <img
                src="/img/svg/webdesign_1.svg"
                loading="lazy"
                class="services-card_img services-card_img-1"
                alt="Webdesign"
              />
            </div>
          </div>
          <h4 class="services-card_header services-card_webdesign">
            Webdesign
          </h4>
          <p class="services-card_text">
            Tincidunt lobortis feugiat vivamus at augue eget. Risus feugiat in
            ante metus dictum. Amet aliquam id diam maecenas.
          </p>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-start wrap-card"
      >
        <div class="services-card">
          <div class="wrap-img">
            <div class="services-card_img-wrapper services-card_img-wrapper-2">
              <img
                src="/img/svg/webdev_1.svg"
                loading="lazy"
                class="services-card_img services-card_img-2"
                alt="Webdesign"
              />
            </div>
          </div>
          <h4 class="services-card_header services-card_webdev">
            Webdev
          </h4>
          <p class="services-card_text">
            Eget nulla facilisi etiam dignissim diam quis enim lobortis
            scelerisque. Eu feugiat pretium nibh ipsum consequat nisl vel
            pretium.
          </p>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-start wrap-card"
      >
        <div class="services-card">
          <div class="wrap-img">
            <div class="services-card_img-wrapper services-card_img-wrapper-3">
              <img
                src="/img/svg/marketing_1.svg"
                loading="lazy"
                class="services-card_img services-card_img-3"
                alt="Webdesign"
              />
            </div>
          </div>
          <h4
            class="services-card_header services-card_marketing services-card_marketing-1"
          >
            Marketing
          </h4>
          <p class="services-card_text">
            Eu augue ut lectus arcu bibendum at. Pellentesque nec nam aliquam
            sem et tortor consequat.
          </p>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-start wrap-card"
      >
        <div class="services-card">
          <div class="wrap-img">
            <div class="services-card_img-wrapper services-card_img-wrapper-4">
              <img
                src="/img/svg/marketing_2.svg"
                loading="lazy"
                class="services-card_img services-card_img-4"
                alt="Webdesign"
              />
            </div>
          </div>
          <h4 class="services-card_header services-card_marketing">
            Marketing
          </h4>
          <p class="services-card_text">
            Id venenatis a condimentum vitae. Magna fermentum iaculis eu non
            diam phasellus vestibulum lorem. Tortor dignissim convallis aenean
            et.
          </p>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-start wrap-card"
      >
        <div class="services-card">
          <div class="wrap-img">
            <div class="services-card_img-wrapper services-card_img-wrapper-5">
              <img
                src="/img/svg/webdesign_2.svg"
                loading="lazy"
                class="services-card_img services-card_img-5"
                alt="Webdesign"
              />
            </div>
          </div>
          <h4 class="services-card_header services-card_webdesign">
            Webdesign
          </h4>
          <p class="services-card_text">
            Sollicitudin ac orci phasellus egestas tellus rutrum tellus
            pellentesque. Malesuada fames ac turpis egestas sed.
          </p>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-start wrap-card"
      >
        <div class="services-card">
          <div class="wrap-img">
            <div class="services-card_img-wrapper services-card_img-wrapper-6">
              <img
                src="/img/svg/webdev_2.svg"
                loading="lazy"
                class="services-card_img services-card_img-6"
                alt="Webdesign"
              />
            </div>
          </div>
          <h4 class="services-card_header services-card_webdev">
            Webdev
          </h4>
          <p class="services-card_text">
            Integer quis auctor elit sed vulputate mi. Semper auctor neque vitae
            tempus. Vulputate odio ut enim blandit volutpat maecenas volutpat.
          </p>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="row"></div>
    <div class="row">
      <div class="col-xl-12 d-flex justify-content-center">
        <a href="#" class="link-btn text-uppercase">Learn more</a>
      </div>
    </div>
    <!-- row -->
  </div>
</section>
