<section class="testimonials" id="testimonials">
  <div class="testimonials-fill_header"></div>
  <div class="container">
    <div class="row row-bubble">
      <div class="wrap-bubble">
        <div
          class="flying-bubble flying-bubble-1 active-bubble"
          id="flying-bubble-1"
        ></div>
        <div class="flying-bubble flying-bubble-2" id="flying-bubble-2"></div>
        <div class="flying-bubble flying-bubble-3" id="flying-bubble-3"></div>
        <div class="flying-bubble flying-bubble-4" id="flying-bubble-4"></div>
        <div class="flying-bubble flying-bubble-5" id="flying-bubble-5"></div>
        <div class="flying-bubble flying-bubble-6" id="flying-bubble-6"></div>
        <div class="flying-bubble flying-bubble-7" id="flying-bubble-7"></div>
      </div>

      <div class="col-xl-12">
        <div class="bubble-slider">
          <div class="bubble-container bubble-container-1">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <picture>
                  <source
                    srcset="/img/webp/bubble_avatar_1.webp"
                    type="image/webp"
                  />
                  <img
                    src="/img/png/bubble_avatar_1.png"
                    loading="lazy"
                    class="bubble-slide_img"
                    alt="Slide image"
                  />
                </picture>
              </div>
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <picture>
                  <source
                    srcset="/img/webp/bubble_avatar_2.webp"
                    type="image/webp"
                  />
                  <img
                    src="/img/png/bubble_avatar_2.png"
                    loading="lazy"
                    class="bubble-slide_img"
                    alt="Slide image"
                  />
                </picture>
              </div>
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <picture>
                  <source
                    srcset="/img/webp/bubble_avatar_3.webp"
                    type="image/webp"
                  />
                  <img
                    src="/img/png/bubble_avatar_3.png"
                    loading="lazy"
                    class="bubble-slide_img"
                    alt="Slide image"
                  />
                </picture>
              </div>
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <picture>
                  <source
                    srcset="/img/webp/bubble_avatar_4.webp"
                    type="image/webp"
                  />
                  <img
                    src="/img/png/bubble_avatar_4.png"
                    loading="lazy"
                    class="bubble-slide_img"
                    alt="Slide image"
                  />
                </picture>
              </div>
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <picture>
                  <source
                    srcset="/img/webp/bubble_avatar_1.webp"
                    type="image/webp"
                  />
                  <img
                    src="/img/png/bubble_avatar_1.png"
                    loading="lazy"
                    class="bubble-slide_img"
                    alt="Slide image"
                  />
                </picture>
              </div>
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <picture>
                  <source
                    srcset="/img/webp/bubble_avatar_2.webp"
                    type="image/webp"
                  />
                  <img
                    src="/img/png/bubble_avatar_2.png"
                    loading="lazy"
                    class="bubble-slide_img"
                    alt="Slide image"
                  />
                </picture>
              </div>
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <picture>
                  <source
                    srcset="/img/webp/bubble_avatar_3.webp"
                    type="image/webp"
                  />
                  <img
                    src="/img/png/bubble_avatar_3.png"
                    loading="lazy"
                    class="bubble-slide_img"
                    alt="Slide image"
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="bubble-slider">
          <div class="bubble-container bubble-container-2">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <figure class="bubble-slide_item">
                  <blockquote class="blockqouted">
                    <p class="blockqouted-text">
                      Lectus arcu bibendum at varius. Adipiscing diam donec
                      adipiscing tristique.
                    </p>
                  </blockquote>
                  <figcaption class="text-center">
                    <strong>Kerry Johnes</strong>
                    <cite> - Some Company</cite>
                  </figcaption>
                </figure>
              </div>
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <figure class="bubble-slide_item">
                  <blockquote class="blockqouted">
                    <p class="blockqouted-text">
                      Lectus arcu bibendum at varius. Adipiscing diam donec
                      adipiscing tristique.
                    </p>
                  </blockquote>
                  <figcaption class="text-center">
                    <strong>Kerry Johnes</strong>
                    <cite> - Some Company</cite>
                  </figcaption>
                </figure>
              </div>
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <figure class="bubble-slide_item">
                  <blockquote class="blockqouted">
                    <p class="blockqouted-text">
                      Lectus arcu bibendum at varius. Adipiscing diam donec
                      adipiscing tristique.
                    </p>
                  </blockquote>
                  <figcaption class="text-center">
                    <strong>Kerry Johnes</strong>
                    <cite> - Some Company</cite>
                  </figcaption>
                </figure>
              </div>
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <figure class="bubble-slide_item">
                  <blockquote class="blockqouted">
                    <p class="blockqouted-text">
                      Lectus arcu bibendum at varius. Adipiscing diam donec
                      adipiscing tristique.
                    </p>
                  </blockquote>
                  <figcaption class="text-center">
                    <strong>Kerry Johnes</strong>
                    <cite> - Some Company</cite>
                  </figcaption>
                </figure>
              </div>
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <figure class="bubble-slide_item">
                  <blockquote class="blockqouted">
                    <p class="blockqouted-text">
                      Lectus arcu bibendum at varius. Adipiscing diam donec
                      adipiscing tristique.
                    </p>
                  </blockquote>
                  <figcaption class="text-center">
                    <strong>Kerry Johnes</strong>
                    <cite> - Some Company</cite>
                  </figcaption>
                </figure>
              </div>
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <figure class="bubble-slide_item">
                  <blockquote class="blockqouted">
                    <p class="blockqouted-text">
                      Lectus arcu bibendum at varius. Adipiscing diam donec
                      adipiscing tristique.
                    </p>
                  </blockquote>
                  <figcaption class="text-center">
                    <strong>Kerry Johnes</strong>
                    <cite> - Some Company</cite>
                  </figcaption>
                </figure>
              </div>
              <div
                class="swiper-slide bubble-slide d-flex justify-content-center"
              >
                <figure class="bubble-slide_item">
                  <blockquote class="blockqouted">
                    <p class="blockqouted-text">
                      Lectus arcu bibendum at varius. Adipiscing diam donec
                      adipiscing tristique.
                    </p>
                  </blockquote>
                  <figcaption class="text-center">
                    <strong>Kerry Johnes</strong>
                    <cite> - Some Company</cite>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="bubble-slider_prev">
            <svg
              width="20px"
              height="14px"
              viewBox="0 0 10 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="bubble-slider_prev-img"
                d="M0.208946 4.85355C0.0136843 4.65829 0.0136843 4.34171 0.208946 4.14645L3.39093 0.964466C3.58619 0.769204 3.90277 0.769204 4.09803 0.964466C4.2933 1.15973 4.2933 1.47631 4.09803 1.67157L1.26961 4.5L4.09803 7.32843C4.2933 7.52369 4.2933 7.84027 4.09803 8.03553C3.90277 8.2308 3.58619 8.2308 3.39093 8.03553L0.208946 4.85355ZM8.4375 5H0.5625V4H8.4375V5Z"
              />
            </svg>
          </div>
          <div class="bubble-slider_next">
            <svg
              width="20px"
              height="14px"
              viewBox="0 0 10 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="bubble-slider_next-img"
                d="M8.79105 4.85355C8.98632 4.65829 8.98632 4.34171 8.79105 4.14645L5.60907 0.964466C5.41381 0.769204 5.09723 0.769204 4.90197 0.964466C4.7067 1.15973 4.7067 1.47631 4.90197 1.67157L7.73039 4.5L4.90197 7.32843C4.7067 7.52369 4.7067 7.84027 4.90197 8.03553C5.09723 8.2308 5.41381 8.2308 5.60907 8.03553L8.79105 4.85355ZM0.5625 5H8.4375V4H0.5625V5Z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
